@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Old+Standard+TT&family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Old+Standard+TT&family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Old+Standard+TT&family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Old+Standard+TT&family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Old+Standard+TT&family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Old+Standard+TT&family=Roboto:wght@400&display=swap");
.header__container {
  width: 100%;
  height: 70px;
  background-color: #222222;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header__container__content__text {
  display: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.header__container__content .navbar__container {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}
.header__container__content .navbar__container .nav__links {
  display: flex;
  position: relative;
}
.header__container__content .navbar__container .nav__links__burger {
  display: block;
}
.header__container__content .navbar__container .nav__links__burger .navbar__nav__list {
  z-index: -1;
  position: absolute;
  list-style: none;
  align-items: center;
  top: 70px;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
}
.header__container__content .navbar__container .nav__links__burger .navbar__nav__list__link {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  margin: 1.5rem;
}
.header__container__content .navbar__container .nav__links__burger--show {
  display: none;
}
.header__container__content .navbar__container .nav__links .burger-icon {
  margin: 1.5rem 1rem 1.5rem 1.5rem;
}
.header__container__content .navbar__container .nav__links .burger-icon--open {
  padding-top: 5px;
}
.header__container__content .navbar__container .nav__links .burger-icon--close {
  padding-top: 5px;
  content: url("../../../assets/icons/mobile_view/close_btn.svg");
}
.header__container__content .navbar__container .nav__links .nav__menu__links {
  display: block;
}
.header__container__content .navbar__container .nav__links .nav__menu__links__home {
  display: flex;
}
.header__container__content .navbar__container .nav__links .nav__menu__links__home__logo {
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  margin: 10px;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.header__container__content .navbar__container .nav__links .nav__menu__links__home__text {
  font-family: "Archivo", sans-serif;
  display: block;
  margin-top: 1rem;
  font-size: 20px;
}
.header__container__content .navbar__container .nav__links .nav__menu__links__home__text span {
  font-weight: 700;
}
.header__container__content .navbar__container .nav__links .nav__menu__links__desktop {
  display: none;
}
.header__container__content .navbar__container__icon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.header__container__content .navbar__container__icon__container {
  display: flex;
  align-content: center;
  justify-content: center;
}
.header__container__content .navbar__container__icon__container img {
  width: 20px;
}
.header__container__content .navbar__container__icon .login {
  margin-right: 20px;
}

@media only screen and (min-width: 520px) {
  .header__container .header__container__content .navbar__container .navbar__container__icon {
    padding-right: 3%;
  }
}
@media only screen and (min-width: 1000px) {
  .header__container {
    height: 100px;
  }
  .header__container__content {
    padding: 1rem 10% 0 10%;
  }
  .header__container__content__text {
    display: block;
  }
  .header__container .header__container__content .navbar__container {
    height: 120px;
  }
  .header__container .header__container__content .navbar__container .nav__links {
    display: flex;
  }
  .header__container .header__container__content .navbar__container .nav__links .burger-icon {
    display: none;
  }
  .header__container .header__container__content .navbar__container .nav__links__burger {
    display: none;
  }
  .header__container .header__container__content .navbar__container .nav__links .nav__menu__links {
    display: flex;
  }
  .header__container .header__container__content .navbar__container .nav__links .nav__menu__links__home__logo {
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    margin: 20px;
    padding-top: 0.4rem;
  }
  .header__container .header__container__content .navbar__container .nav__links .nav__menu__links__home__text {
    font-size: 26px;
    margin-top: 2rem;
  }
  .header__container .header__container__content .navbar__container .nav__links .nav__menu__links__desktop {
    display: flex;
    margin: 0 0 0 3rem;
  }
  .header__container .header__container__content .navbar__container .nav__links .nav__menu__links__desktop .navbar__nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
  .header__container .header__container__content .navbar__container .nav__links .nav__menu__links__desktop .navbar__nav__list__link {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    margin: 1rem 0.8rem;
  }
  .header__container .header__container__content .navbar__container__icon {
    margin-right: 2rem;
  }
  .header__container .header__container__content .navbar__container__icon__container {
    width: 3rem;
    height: 3rem;
    border: 2px solid rgba(133, 133, 133, 0.3);
  }
  .header__container .header__container__content .navbar__container__icon__container img {
    width: 20px;
  }
}
.upper-section__content {
  padding: 75px 20px;
  background-color: #333333;
}
.upper-section__title {
  width: 15rem;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.upper-section__description {
  font-family: "Old Standard TT", serif;
  font-size: 2.8rem;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 20rem;
}
.upper-section__button {
  display: block;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.33);
  height: 60px;
  width: 215px;
  background-color: #333333;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.upper-section .button--gold {
  border: none;
  height: 60px;
  width: 215px;
  background-color: #bead8e;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@media only screen and (min-width: 1000px) {
  .upper-section__content {
    padding: 180px 20% 75px 20%;
  }
  .upper-section__title {
    width: 20rem;
  }
  .upper-section__description {
    font-size: 56px;
    max-width: 25rem;
    margin-bottom: 35px;
  }
  .upper-section__button {
    display: inline;
    margin-right: 30px;
  }
}
.availability {
  background-color: #222222;
  padding: 35px 20px;
}
.availability__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}
.availability__input {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  font-size: 0.8rem;
}
.availability__input:focus {
  outline: none;
}
.availability .input__date--gold {
  display: flex;
  padding: 14px 0;
  flex-direction: row-reverse;
  background-color: transparent;
  border-bottom: 2px solid #bead8e;
  font-family: "Roboto", sans-serif;
  color: #686868;
}
.availability .input__date--gold::-webkit-calendar-picker-indicator {
  filter: invert(0.5) sepia(1);
}
.availability .button--gold {
  border: none;
  height: 60px;
  width: 250px;
  background-color: #bead8e;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@media only screen and (min-width: 1000px) {
  .availability {
    display: flex;
    padding: 35px 20%;
    align-items: center;
    justify-content: space-between;
  }
  .availability__date__container {
    display: flex;
    gap: 30px;
    width: 55%;
  }
  .availability__date {
    width: 100%;
  }
}
.about {
  margin-top: 60px;
}
.about__discover {
  background-color: #F9F9F9;
  padding: 30px 20px;
}
.about__discover__title {
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  max-width: 20rem;
  margin-bottom: 16px;
}
.about__discover__title--small {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 32px;
  color: #777777;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.about__discover__description {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  max-width: 16rem;
  margin-bottom: 24px;
}
.about__discover .button-gold {
  margin-bottom: 145px;
  border: none;
  height: 60px;
  width: 216px;
  background-color: #bead8e;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.about__cards {
  padding: 0 20px;
  margin-top: -5rem;
}
.about__card {
  width: 270px;
  margin: auto;
}
.about__card--team {
  margin: auto;
}
.about__card__img {
  width: inherit;
  height: 300px;
  background-image: url("/assets/images/lux-hotel.jpg");
  background-size: cover;
}
.about__card__description {
  position: relative;
  width: inherit;
  text-align: center;
  padding: 50px 0;
}
.about__card__description__img {
  width: 70px;
  height: 50px;
  margin-bottom: 30px;
}
.about__card__description__title {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  margin-bottom: 20px;
}
.about__card__description__text {
  font-family: "Roboto", sans-serif;
}
.about__card__description__bg {
  position: absolute;
  top: 50px;
  right: 0;
  width: 145px;
  height: 105px;
  opacity: 0.1;
}
.about__card__description--black {
  background-color: #222222;
  color: #ffffff;
  margin-top: -0.3rem;
}

@media only screen and (min-width: 1000px) {
  .about {
    padding: 120px 20%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .about__discover {
    background-color: transparent;
    position: relative;
  }
  .about__discover .desktop-background {
    position: absolute;
    left: -10rem;
    top: 5.5rem;
    height: 30rem;
    background-color: #f9f9f9;
    width: 50vw;
    z-index: -1;
  }
  .about__discover__title {
    margin-bottom: 20px;
  }
  .about__discover__title--small {
    margin-bottom: 36px;
  }
  .about__discover__description {
    font-family: "Archivo", sans-serif;
    font-size: 14px;
  }
  .about__cards {
    display: flex;
  }
  .about__card {
    margin: auto;
  }
  .about__card--team {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 30px;
    margin-top: 0rem;
  }
  .about__card--room {
    margin-top: 1rem;
  }
}
.rooms {
  padding: 60px 0;
}
.rooms__title {
  font-family: "Old Standard TT", serif;
  font-size: 50px;
  text-align: center;
}
.rooms__title--small {
  font-size: 14px;
  font-family: "Archivo", sans-serif;
  margin-bottom: 24px;
  color: #777777;
  letter-spacing: 3px;
}
.rooms .swiper {
  margin: 45px 0;
  overflow: visible;
  position: relative;
}
.rooms .swiper-button {
  width: 32px;
  height: 32px;
  padding: 12px;
  background-color: #ffffff;
  color: #222222;
}
.rooms .swiper-button-next {
  content: url("/assets/icons/chevron-right.svg");
}
.rooms .swiper-button-prev {
  content: url("/assets/icons/chevron-left.svg");
}
.rooms .swiper-button:hover {
  background-color: #bead8e;
}

@media only screen and (min-width: 395px) {
  .rooms .swiper-slide {
    margin: 0 10rem;
  }
  .rooms .swiper-button {
    margin: -1rem 10% 0 10%;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1000px) {
  .rooms {
    padding: 0;
  }
  .rooms .swiper-button {
    width: 80px;
    height: 80px;
    padding: 30px;
    position: absolute;
    top: 15rem;
  }
  .rooms .swiper-button-next {
    margin-right: 10%;
  }
  .rooms .swiper-button-prev {
    margin-left: 10%;
  }
}
.room__main-container {
  position: relative;
}
.room__img {
  background-image: url("/assets/images/lux-hotel.jpg");
  width: 375px;
  height: 245px;
  background-size: cover;
  background-position: center;
  margin: auto;
}
.room__bar {
  background-color: #ffffff;
  width: 256px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
  padding: 0 26px;
  display: flex;
  justify-content: space-evenly;
}
.room__bar__icon {
  width: 12px;
  height: 12px;
  margin: auto;
  display: inline-block;
}
.room__info {
  padding: 20px 20px;
  background-color: #ffffff;
  width: 335px;
  margin: 14rem auto auto auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}
.room__info__text__title {
  font-family: "Old Standard TT", serif;
  font-size: 28px;
  color: #222222;
}
.room__info__text__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #777777;
  margin: 12px 0;
}
.room__info__price {
  font-family: "Archivo", sans-serif;
  color: #bead8e;
  text-align: center;
}
.room__info__price__amount {
  font-size: 32px;
}
.room__info__price__night {
  font-size: 13px;
}

@media only screen and (min-width: 1000px) {
  .room__img {
    width: 770px;
    height: 500px;
  }
  .room__bar {
    width: 310px;
    height: 50px;
    margin-left: 14rem;
  }
  .room__bar__icon {
    width: 20px;
    height: 15px;
  }
  .room__info {
    display: flex;
    width: 690px;
    height: 172px;
    text-align: start;
    padding: 38px 38px;
    margin: 28rem auto auto 2.5rem;
  }
  .room__info__text {
    text-align: start;
  }
  .room__info__text__title {
    font-size: 36px;
  }
  .room__info__price {
    margin: auto;
    display: flex;
    height: 40px;
    align-items: flex-end;
  }
  .room__info__price__amount {
    font-size: 40px;
  }
  .room__info__price__night {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
.video-home {
  margin-top: 5rem;
}
.video-home__container {
  padding: 55px 20px;
  background-color: #222222;
}
.video-home__text {
  color: #ffffff;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
}
.video-home__text__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  margin-bottom: 16px;
}
.video-home__text__title--small {
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 32px;
}
.video-home__text__description {
  color: #777777;
  margin-bottom: 32px;
}
.video-home__button--gold {
  height: 60px;
  width: 216px;
  background-color: #bead8e;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border: none;
}
.video-home__button--desktop {
  display: none;
}
.video-home__source {
  margin-bottom: 36px;
}
.video-home__source--desktop {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .video-home {
    position: relative;
    margin-top: 7.5rem;
    z-index: 1;
  }
  .video-home__container {
    display: flex;
    padding: 130px 20px;
  }
  .video-home__text {
    padding: 0 10px 0 15%;
    width: 50%;
    position: relative;
  }
  .video-home__text__title {
    font-size: 80px;
    margin-bottom: 32px;
  }
  .video-home__text__title--small {
    margin-bottom: 36px;
  }
  .video-home__text__description {
    line-height: 24px;
  }
  .video-home__button, .video-home__source {
    z-index: 1;
  }
  .video-home__button--desktop, .video-home__source--desktop {
    display: block;
  }
  .video-home__button--mobile, .video-home__source--mobile {
    display: none;
  }
  .video-home__gold-rectangle {
    position: absolute;
    height: 100%;
    width: 575px;
    background-color: #bdac8d;
    top: 0;
    right: 0;
  }
}
.facilities {
  padding: 60px 24px;
}
.facilities__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  text-align: center;
}
.facilities__title--small {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 24px;
  text-align: center;
}
.facilities .card {
  position: relative;
  padding: 0 15px;
  max-width: 400px;
  margin: auto;
}
.facilities .card__img {
  margin: 60px 0 40px 0;
}
.facilities .card__img-background {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Archivo", sans-serif;
  font-size: 120px;
  color: #333333;
  opacity: 4%;
  font-weight: 700;
}
.facilities .card__title {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  margin-bottom: 30px;
}
.facilities .card__title--payment {
  margin-top: 10px;
}
.facilities .card__description {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  color: #777777;
  padding-right: 45px;
}
.facilities .swiper-facilities__pagination {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.facilities .swiper-pagination-bullet-active {
  background-color: #bead8e;
}
.facilities .grid-facilities {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .facilities .swiper-facilities {
    display: none;
  }
  .facilities .grid-facilities {
    display: grid;
    padding: 0 20%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 3rem;
  }
}
.menu {
  padding: 115px 20px 60px 20px;
  position: relative;
}
.menu__img {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 0;
  right: -25px;
}
.menu__title {
  font-size: 56px;
  font-family: "Old Standard TT", serif;
  max-width: 350px;
}
.menu__title--small {
  font-size: 14px;
  font-family: "Archivo", sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 24px;
}
.menu .swiper-menu {
  position: relative;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food {
  display: flex;
  margin-bottom: 16px;
  height: min-content;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__img {
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__img--marmelade {
  margin: auto 0;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__text {
  padding-left: 30px;
  padding-top: 5px;
  max-width: 215px;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__text__title {
  font-size: 24px;
  font-family: "Old Standard TT", serif;
  margin-bottom: 12px;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__text__description {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__arrow {
  display: none;
}
.menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food:hover {
  background-color: #222222;
  color: #ffffff;
}
.menu .swiper-menu-buttons {
  position: absolute;
  bottom: -30px;
  right: 0;
  margin: 0 20px;
  display: flex;
  gap: 16px;
}
.menu .swiper-menu__button {
  background-color: #F8F8F8;
  width: 36px;
  height: 36px;
  padding: 10px 15px;
}
.menu .swiper-menu__button img {
  width: 5px;
  height: 10px;
}
.menu .swiper-menu__button:hover {
  background-color: #bead8e;
}
.menu .swiper-menu__button:hover img {
  filter: brightness(0) invert(1);
}

@media only screen and (min-width: 1000px) {
  .menu {
    padding: 200px 375px 120px 375px;
  }
  .menu__img {
    width: 230px;
    height: 230px;
    left: 80px;
  }
  .menu__title {
    font-size: 80px;
    max-width: 100%;
    margin-bottom: 45px;
  }
  .menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food {
    margin-bottom: 20px;
    width: 570px;
  }
  .menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__img--marmelade {
    margin: 0;
  }
  .menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__text {
    max-width: 480px;
    padding-top: 15px;
  }
  .menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food__text__description {
    width: 285px;
  }
  .menu .swiper-menu .swiper-wrapper .swiper-slide .swiper-foods__column .food:hover .food__arrow {
    display: inline-block;
    margin-left: 60px;
    margin-right: 40px;
  }
  .menu .swiper-menu-buttons {
    top: -10rem;
    right: -10rem;
  }
  .menu .swiper-menu__button {
    width: 70px;
    height: 70px;
    padding: 25px 30px;
  }
  .menu .swiper-menu__button img {
    width: 10px;
    height: 20px;
  }
}
.menu .swiper-menu-images {
  margin-top: 5rem;
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container {
  width: 335px;
  height: 335px;
  margin: 0 0.5rem;
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container .image__menu {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container .image__menu--cheese {
  background-image: url("/assets/images/menu_imgs/cheese.jpg");
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container .image__menu--coffee {
  background-image: url("/assets/images/menu_imgs/tea-coffee.jpg");
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container .image__menu--fruit {
  background-image: url("/assets/images/menu_imgs/fruit.jpg");
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container .image__menu--chia {
  background-image: url("/assets/images/menu_imgs/chia-oatmeal.jpg");
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container .image__menu--eggs {
  background-image: url("/assets/images/menu_imgs/eggs-bacon.jpg");
}
.menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container .image__menu--marmelade {
  background-image: url("/assets/images/menu_imgs/marmelade.jpg");
}
.menu .swiper-menu-images .swiper-menu-images-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.menu .swiper-menu-images .swiper-pagination-bullet-active {
  background-color: #bead8e;
}

@media only screen and (min-width: 1000px) {
  .menu .swiper-menu-images .swiper-wrapper .swiper-slide .image__container {
    margin: 0 0 0 -8rem;
  }
}
.stats {
  padding: 48px 80px;
  background-color: #222222;
  margin-bottom: 120px;
}
.stats__card {
  width: 210px;
  text-align: center;
  margin-bottom: 60px;
}
.stats__card img {
  width: 78px;
  height: 80px;
}
.stats__card p {
  font-family: "Roboto", sans-serif;
}
.stats__card__amount {
  font-size: 60px;
  color: #ffffff;
}
.stats__card__amount span {
  font-size: 12px;
}
.stats__card__text {
  font-size: 14px;
  color: #999999;
}

@media only screen and (min-width: 1000px) {
  .stats {
    display: flex;
    padding: 80px;
    justify-content: space-between;
    margin: 0 15% 120px 15%;
    align-content: center;
    height: 348px;
    width: 1170px;
  }
  .stats__card {
    margin-top: auto;
    text-align: start;
  }
  .stats__card--backers {
    margin-right: 110px;
  }
}
.footer__content {
  padding: 0 20px;
  background-image: url("../../../assets/images/footer-background.svg");
}
.footer__description {
  padding-top: 30px;
}
.footer__description .logo {
  display: flex;
  gap: 15px;
  height: 130px;
}
.footer__description .logo__back {
  background-color: #bead8e;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.25);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__description .logo__letter {
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  font-size: 40px;
}
.footer__description .logo__text {
  margin-top: 1rem;
  font-family: "Archivo", sans-serif;
  font-size: 26px;
  line-height: 1.6rem;
  color: #111111;
  letter-spacing: 2px;
}
.footer__description .logo__text span {
  font-weight: 700;
}
.footer__description__text {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  margin-bottom: 2rem;
}
.footer__description__social-media {
  height: 50px;
}
.footer__description__social-media .social-media-link {
  text-decoration: none;
  height: 34px;
  background-color: #F8F8F8;
  padding: 10px;
  transition: 0.3s;
  margin: 0 10px 0 0;
}
.footer__description__social-media .social-media-link__icon {
  margin: auto;
}
.footer__description__social-media .social-media-link:hover {
  background-color: #bead8e;
}
.footer__services__title {
  margin-top: 40px;
  font-family: "Old Standard TT", serif;
  font-size: 24px;
  color: #222222;
}
.footer__services__container {
  display: flex;
  gap: 20px;
}
.footer__services__text {
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #777777;
}
.footer__contact__title {
  margin-top: 40px;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
.footer__contact__container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.footer__contact__img {
  max-height: 40px;
  max-width: 40px;
}
.footer__contact__data__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 20px;
  color: #222222;
}
.footer__contact__data__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.footer__copyright {
  padding: 15px 20px;
  background-color: #F8F8F8;
}
.footer__copyright__links {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer__copyright__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #222222;
}
.footer__copyright__link {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .footer__content {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 100px 0;
  }
  .footer__description, .footer__contact {
    width: 20%;
  }
  .footer__services {
    width: 30%;
  }
  .footer__services__column {
    margin-right: 2rem;
  }
  .footer__description__social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 45%;
  }
  .footer__copyright__links {
    margin-top: 0;
  }
}
html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */