@use "../colors";
@use "../fonts";
@import "../buttons.scss";

.about {
    margin-top: 60px;
    position: relative;

    &__discover {
        background-color: colors.$grey-discover;
        padding: 30px 20px;
        &__title {
            font-family: fonts.$old;
            font-size: 3rem;
            max-width: 20rem;
            margin-bottom: 16px;

            &--small {
                font-family: fonts.$archivo;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 32px;
            }
        }
        &__description {
            font-family: fonts.$archivo;
            font-size: 13px;
            max-width: 16rem;
            margin-bottom: 24px;
        }
        .button-gold {
            margin-bottom: 145px;
            border: none;
            @include button(216px, colors.$gold-light);
        }
    }

    &__cards {
        padding: 0 20px;
    }

    &__card {
        width: 270px;
        height: 300px;
        margin: auto auto 20rem auto;

        &--team {
            margin-top: -5rem;
        }

        &__img {
            object-fit: cover;
            width: inherit;
            height: inherit;
        }
        &__description {
            position: relative;
            text-align: center;
            padding: 50px 0;

            &__img {
                width: 70px;
                height: 50px;
                margin-bottom: 30px;
            }

            &__title {
                font-family: fonts.$old;
                font-size: 30px;
                margin-bottom: 20px;
            }

            &__text {
                font-family: fonts.$roboto;
            }

            &__bg{
                position:absolute;
                top: 50px;
                right: 0;
                width: 145px;
                height: 105px;
                opacity: 0.1;
            }

            &--black{
                background-color: colors.$black;
                color: colors.$white;
                margin-top: -0.3rem;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .about {
        margin-top: 120px;
        padding: 30px 20%;

        &__discover {
            &__title {
                margin-bottom: 20px;

                &--small {
                    margin-bottom: 36px;
                }
            }
            &__description {
                font-family: fonts.$archivo;
                font-size: 14px;
            }
        }
    }
}
