@use "../colors";
@use "../fonts";

.facilities {
    padding: 60px 24px;

    &--dark {
        background-color: colors.$black;
        overflow: hidden;
        p {
            color: colors.$white;
        }
    }

    &__title {
        font-family: fonts.$old;
        font-size: 56px;
        text-align: center;
        padding-bottom: 32px;

        &--small {
            font-family: fonts.$archivo;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 3px;
            margin-bottom: 24px;
            text-align: center;
        }
    }
    .card {
        position: relative;
        padding: 0 15px;
        max-width: 400px;
        margin: auto;
        &__img {
            margin: 60px 0 40px 0;
            &-background {
                position: absolute;
                top: 0;
                right: 12px;
                font-family: fonts.$archivo;
                font-size: 120px;
                color: colors.$grey-dark;
                opacity: 4%;
                font-weight: 700;

                &--dark{
                    color: colors.$black;
                    opacity: 1;
                }
            }
        }
        &__title {
            font-family: fonts.$old;
            font-size: 30px;
            margin-bottom: 30px;
            height: 75px;
            &--payment {
                margin-top: 10px;
            }
        }
        &__description {
            font-family: fonts.$archivo;
            font-size: 14px;
            color: colors.$grey-text;
            padding-right: 45px;
            padding-bottom: 50px;
        }

        &--dark {
            background-color: #292929;
        }
    }
    .swiper-facilities {
		overflow: hidden;
        &__pagination {
            margin-top: 32px;
            display: flex;
            justify-content: center;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: colors.$gold-light;
    }
    .grid-facilities {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .facilities {
        &__title {
            margin-bottom: 60px;
        }
        .swiper-facilities {
            display: none;
        }

        .grid-facilities {
            display: grid;
            padding: 0 10%;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px 3rem;
        }
    }
}

@media only screen and (min-width: 1200px){
    .facilities {
        .grid-facilities {
            padding: 0 15%;
        }

    }
}