@use "../colors";
@use "../fonts";
@import "../buttons.scss";

.about {
    margin-top: 60px;

    &__discover {
        background-color: colors.$grey-discover;
        padding: 30px 20px;
        &__title {
            font-family: fonts.$old;
            font-size: 3rem;
            max-width: 20rem;
            margin-bottom: 16px;

            &--small {
                font-family: fonts.$archivo;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 32px;
                color: colors.$grey-text;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
        &__description {
            font-family: fonts.$archivo;
            font-size: 13px;
            max-width: 16rem;
            margin-bottom: 24px;
        }
        .button-gold {
            margin-bottom: 145px;
            border: none;
            @include button(216px, colors.$gold-light);
        }
    }

    &__cards {
        padding: 0 20px;
        margin-top: -5rem;
    }

    &__card {
        width: 270px;
        margin: auto;
        &--team {
            margin: auto;
        }

        &__img {
            width: inherit;
            height: 300px;
            background-image: url(./assets/images/lux-hotel.jpg);
            background-size: cover;
        }
        &__description {
            position: relative;
            width: inherit;
            text-align: center;
            padding: 50px 0;

            &__img {
                width: 70px;
                height: 50px;
                margin-bottom: 30px;
            }

            &__title {
                font-family: fonts.$old;
                font-size: 30px;
                margin-bottom: 20px;
            }

            &__text {
                font-family: fonts.$roboto;
            }

            &__bg {
                position: absolute;
                top: 50px;
                right: 0;
                width: 145px;
                height: 105px;
                opacity: 0.1;
            }

            &--black {
                background-color: colors.$black;
                color: colors.$white;
                margin-top: -0.3rem;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .about {
        padding: 120px 20%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        &__discover {
            background-color: transparent;
            position: relative;
            .desktop-background {
                position: absolute;
                left: -10rem;
                top: 5.5rem;
                height: 30rem;
                background-color: #f9f9f9;
                width: 50vw;
                z-index: -1;
            }
            &__title {
                margin-bottom: 20px;

                &--small {
                    margin-bottom: 36px;
                }
            }
            &__description {
                font-family: fonts.$archivo;
                font-size: 14px;
            }
        }

        &__cards {
            display: flex;
        }

        &__card {
            margin: auto;
            &--team {
                display: flex;
                flex-direction: column-reverse;
                margin-right: 30px;
                margin-top: 0rem;
            }

            &--room {
                margin-top: 1rem;
            }
        }
    }
}
