@use "../colors";
@use "../fonts";

.room-home {
    width: fit-content;
    display: block;
	 margin: auto;
    &__main-container {
        position: relative;
        z-index: -1; 
    }
    &__img {
        width: 375px;
        height: 245px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }

    &__bar {
        background-color: colors.$white;
        width: 256px;
        height: 40px;
        margin: auto;
        position: absolute;
        top: -1.5rem;
        left: 0;
        right: 0;
        padding: 0 26px;
        display: flex;
        justify-content: space-evenly;
        &__icon {
            width: 12px;
            height: 12px;
            margin: auto;
            display: inline-block;
        }
    }
    &__info {
        padding: 20px 20px;
        background-color: colors.$white;
        width: 335px;
        margin: -2rem auto auto auto;
        text-align: center;
        &__text {
            &__title {
                font-family: fonts.$old;
                font-size: 28px;
                color: colors.$black;
            }

            &__description {
                font-family: fonts.$roboto;
                font-size: 14px;
                color: colors.$grey-text;
                margin: 12px 0;
            }
        }

        &__price {
            font-family: fonts.$archivo;
            color: colors.$gold-light;
            text-align: center;
            &__amount {
                font-size: 32px;
            }
            &__night {
                font-size: 13px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .room {
        &__img {
            width: 770px;
            height: 500px;
        }
        &__bar {
            width: 310px;
            height: 50px;
            &__icon {
                width: 20px;
                height: 15px;
            }
        }
        &__info {
            display: flex;
            width: 690px;
            height: 172px;
            text-align: start;
            padding: 38px 38px;
            margin: -3rem auto auto auto;
            z-index: 2;
            &__text {
                text-align: start;
                &__title {
                    font-size: 36px;
                }
            }
            &__price {
                margin: auto;
                display: flex;
                height: 40px;
                align-items: flex-end;
                &__amount {
                    font-size: 40px;
                }
                &__night {
                    font-size: 16px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
