@use "../colors";
@use "../fonts";
@import "../buttons.scss";

.menu {
    padding: 115px 20px 60px 20px;
    position: relative;
    &__img {
        position: absolute;
        width: 115px;
        height: 115px;
        top: 0;
        right: -25px;
    }

    &__title {
        font-size: 56px;
        font-family: fonts.$old;
        max-width: 350px;
        &--small {
            font-size: 14px;
            font-family: fonts.$archivo;
            letter-spacing: 3px;
            font-weight: 700;

            margin-bottom: 24px;
        }
    }
    .swiper-menu {
        position: relative;
        .swiper-wrapper {
            .swiper-slide {
                .swiper-foods__column {
                    .food {
                        display: flex;
                        margin-bottom: 16px;
                        height: min-content;
                        &__img {
                            width: 120px;
                            height: 120px;
                            margin: auto;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }

                        &__text {
                            padding-left: 30px;
                            padding-top: 5px;
                            max-width: 215px;

                            &__title {
                                font-size: 24px;
                                font-family: fonts.$old;
                                margin-bottom: 12px;
                            }

                            &__description {
                                font-size: 14px;
                                font-family: fonts.$roboto;
                                line-height: 24px;
                            }
                        }

                        &__arrow {
                            display: none;
                        }

                        &:hover {
                            background-color: colors.$black;
                            color: colors.$white;
                        }
                    }
                }
            }
        }
        &-buttons {
            position: absolute;
            bottom: -30px;
            right: 0;
            margin: 0 20px;
            display: flex;
            gap: 16px;
            &-prev {
                background-color: colors.$grey-light;
                width: 36px;
                height: 36px;
                padding: 10px 15px;
                img {
                    width: 5px;
                    height: 10px;
                }
                &:hover {
                    background-color: colors.$gold-light;
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
            &-next {
                background-color: colors.$grey-light;
                width: 36px;
                height: 36px;
                padding: 10px 15px;
                img {
                    width: 5px;
                    height: 10px;
                }
                &:hover {
                    background-color: colors.$gold-light;
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .menu {
        padding: 200px 375px 120px 375px;

        &__img {
            width: 230px;
            height: 230px;
            left: 80px;
        }
        &__title {
            font-size: 80px;
            max-width: 100%;
            margin-bottom: 45px;
        }
        .swiper-menu {
            .swiper-wrapper {
                .swiper-slide {
                    .swiper-foods__column {
                        .food {
                            margin-bottom: 20px;
                            width: 570px;
                            &__text {
                                max-width: 480px;
                                padding-top: 15px;

                                &__description {
                                    width: 285px;
                                }
                            }

                            &:hover .food__arrow {
                                display: inline-block;
                                margin-left: 60px;
                                margin-right: 40px;
                            }
                        }
                    }
                }
            }
            &-buttons{
                top: -10rem;
                right: -10rem;

                &-prev{
                    width: 70px;
                    height: 70px;
                    padding: 25px 30px;
                    img {
                    width: 10px;
                    height: 20px;
                }
                }
                &-next{
                    width: 70px;
                    height: 70px;
                    padding: 25px 30px;
                    img {
                    width: 10px;
                    height: 20px;
                }
                }
            }
        }
    }
}
