@use "../colors";
@use "../fonts";
@import "../buttons.scss";

.offers {
   padding: 48px 20px 0 20px;

   .offer {
		box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
		margin-bottom: 35px;
      &__image {
         position: relative;
         .image {
            background-color: colors.$grey-light;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 200px;
         }
      }
      &__prices {
         position: absolute;
         right: 15px;
         top: 100px;
         font-family: fonts.$archivo;
         text-align: end;
         font-weight: 700;
         letter-spacing: 2px;
         padding-bottom: 10px;
         text-shadow: 1px 1px 2px colors.$gold-light;
         .line-through {
            text-decoration: line-through;
         }
         span {
            font-size: 12px;
         }
         &--old {
            font-size: 23px;
            padding-bottom: 10px;
            color: colors.$gold-light;
         }
         &--new {
            font-size: 30px;
            color: colors.$red-pale;
         }
      }
      &__text {
         padding: 16px 20px;
			hr{
				display: none;
			}
         &__subtitle {
            font-family: fonts.$archivo;
            font-size: 14px;
            letter-spacing: 3px;
            color: colors.$grey-text;
            text-transform: uppercase;
            margin-bottom: 12px;
            font-weight: 700;
         }
         &__title {
            font-family: fonts.$old;
            font-size: 40px;
            font-weight: 400;
         }

         &__description {
            padding: 16px 0;
            font-family: fonts.$roboto;
            font-size: 14px;
            font-weight: 400;
            color: colors.$grey-text;
            line-height: 24px;
            letter-spacing: 1px;
         }
      }
      &__amenities {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(6rem, 0.6fr));
			grid-auto-rows: 25px;
			gap: 10px;
			margin-bottom: 25px;
			padding: 20px 0;
         &__item {
            display: flex;
				align-items: center;
         }
         .item {
            &__image {
					height: 80%;
            }
            &__text {
               padding: 8px;
					font-family: fonts.$roboto;
					font-size: 15px;
					color: colors.$grey-text;
					font-weight: 500;
            }
         }
      }
		&__button{
			@include button(216px, colors.$gold-light);
			border: none;
		}
   }
}

@media only screen and (min-width: 1000px) {
   .offers {
      padding: 48px 15% 0 15%;
      .offer {
			position: relative;
			margin-bottom: 500px;
         &__image {
            .image {
               height: 570px;
            }
         }

			&__text{
				padding: 60px 40px 60px 60px;
				width: 85%;
				position: absolute;
				left: 0;
				right: 0;
				margin: -75px auto auto auto;
				background-color: colors.$white;
				border-top: 6px solid colors.$gold-light;
				
				hr{
					display: block;
					border: 1px solid #ECECEC;
					margin: 40px 0 35px 0;
				}
			}

			&__prices{
				right: 40px;
				top: 60px;
			}

			&__desc__amenities{
				display: flex;
			}

			&__text__description{
				width: 50%;
				padding: 16px 50px 16px 0;
			}
			&__amenities{
				width: 50%;
				padding: 16px;
				grid-template-columns: repeat(2, 1fr);
			}
      }
   }
}
