@use "../colors";
@use "../fonts";

.rooms-list {
    padding: 48px 24px;
    width: 350px;
    margin: auto;
    display: block;
    position: relative;

    //SWIPER STYLE
    .swiper {
        &-room-list {
            overflow: hidden;
        }

        &-pagination {
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            width: auto;

            &-bullet {
                width: 40px;
                height: 40px;
                text-align: center;
                padding: 8px;
                font-family: fonts.$oswald;
                border-radius: 0;
                color: colors.$black-full;
                background: colors.$white;
                opacity: 1;

                &:hover {
                    background-color: colors.$gold-light;
                    color: colors.$white;
                }

                &-active {
                    background-color: colors.$gold-light;
                    color: colors.$white;
                }
            }

            &-horizontal {
                width: auto;
            }
        }

        &-button {
            width: 40px;
            height: 40px;
            padding: 8px;

            &-container {
                display: flex;
                justify-content: space-between;
            }
            .button-img {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .prev-img {
                background-image: url(./assets/icons/double_chevron_left.svg);
            }
            .next-img {
                background-image: url(./assets/icons/double_chevron_right.svg);
            }
        }
    }

    .room {
        width: 335px;
        padding-bottom: 28px;

        &__container {
            width: 100%;
        }

        &__img {
            width: 100%;
            height: 220px;
            background-image: url(./assets/images/room.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__content {
            margin: -20px auto auto -35px;
        }
        &__bar {
            background-color: colors.$white;
            width: 256px;
            height: 40px;
            margin: auto auto 28px auto;
            display: flex;
            justify-content: space-evenly;
            box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
            &__icon {
                width: 13px;
                height: 13px;
                margin: auto;
                display: inline-block;
            }
        }
        &__text {
            text-align: center;

            &__title {
                font-family: fonts.$old;
                font-size: 24px;
            }

            &__description {
                font-family: fonts.$roboto;
                font-size: 14px;
                color: colors.$grey-text;
                padding: 16px 20px;
                line-height: 24px;
            }
        }

        &__price {
            display: flex;
            justify-content: space-evenly;
            &__text {
                font-family: fonts.$archivo;
                font-weight: 700;
                font-size: 16px;
            }
            &__amount {
                color: colors.$gold-light;
            }
            hr {
                display: none;
            }
            &__booking {
                color: colors.$grey-text;
                opacity: 50%;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .rooms-list {
        width: 100%;
        padding: 48px 10% 48px 10%;

        .swiper {
            &-button {
                &-container {
                    justify-content: space-evenly;
                }
            }
            &-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                gap: 10px 10px;
            }
        }

        
        .room {
            //STYLES FOR LIST LAYOUT
            &--list {
                width: 100%;
                margin: auto;
            }
            &__container--list {
                display: flex;
                max-width: 1200px;
            }

            &__img--list {
                max-width: 400px;
                height: 305px;
            }

            &__content--list {
                margin: -20px auto 0 auto;
                padding: 50px 20px 35px 20px;
                position: relative;
                width: 80%;
            }

            &__bar--list {
                margin: auto auto 28px 0;
            }
            &__text {
                &--list {
                    text-align: start;
                }
                &__description--list {
                    padding: 16px 0 16px 0;
                }
            }

            &__price {
                &--list {
                    position: absolute;
                    right: 0%;
                    top: 20%;
                    bottom: 50%;
                    display: block;
                    text-align: center;
                }
                    &__amount--list {
                        font-size: 40px;
                        span {
                            font-size: 16px;
                        }
                    }
                
                hr {
                    display: block;
                    margin: 10px auto;
                    border: 1px solid colors.$grey-shadow;
                    opacity: 20%;
                    width: 50%;
                }
                &__booking--list {
                    color: colors.$grey-text;
                    opacity: 50%;
                    margin: auto;
                }
            }

            //STYLES FOR GRID LAYOUT
            &--grid {
                width: 100%;
                margin: auto;
            }    
            &__container--grid {
                display: block;
            }
            &__img--grid {
                height: 200px;
            }

            &__content--grid {
                margin: -20px auto auto auto;
            }

            &__bar--grid {
                margin: -20px auto auto auto;
                width: 80%;
            }
            &__text{
                &--grid {
                padding-top: 25px;
                }
                &__description--grid {
                    padding: 16px 30px 16px 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1150px) {
    .rooms-list {
        padding-right: 10%;

        .room {
            &__price {
                right: 10%;
            }
        }
    }
}
