@use "../colors";
@use "../fonts";

.rooms {
    padding: 60px 0;
    &__title {
        font-family: fonts.$old;
        font-size: 50px;
        text-align: center;

        &--small {
            font-size: 14px;
            font-family: fonts.$archivo;
            margin-bottom: 24px;
            color: colors.$grey-text;
            letter-spacing: 3px;
        }
    }

    .swiper {
        margin: 45px 0;
        overflow: visible;
        position: relative;
        &-button {
            width: 32px;
            height: 32px;
            padding: 12px;
            background-color: colors.$white;
            color: colors.$black;

            &-next {
                content: url("/assets/icons/chevron-right.svg");
            }

            &-prev {
                content: url("/assets/icons/chevron-left.svg");
            }

            &:hover {
                background-color: colors.$gold-light;
                // color: colors.$white !important;
                // fill: colors.$white !important;
            }
        }
    }
}

@media only screen and (min-width: 395px) {
    .rooms {
        .swiper {
            &-slide{
                margin: 0 10rem;
            }
            &-button {
                margin: -1rem 10% 0 10%;
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .rooms {
        padding: 0;

        .swiper {
            &-button {
                width: 80px;
                height: 80px;
                padding: 30px;
                position: absolute;
                top: 15rem;
                &-next {
                    margin-right: 10%;
                }
                &-prev {
                    margin-left: 10%;
                }
            }
        }
    }
}
