@use "../colors";
@use "../fonts";

.stats {
   width: 100%;
   &-container {
      padding: 48px 80px;
      background-color: colors.$black;
      margin-bottom: 120px;
	}
      &__card {
         width: 210px;
         text-align: center;
         margin: 0 auto 60px auto;
         img {
            width: 78px;
            height: 80px;
         }

         p {
            font-family: fonts.$roboto;
         }
         &__amount {
            font-size: 60px;
            color: colors.$white;
            span {
               font-size: 12px;
            }
         }

         &__text {
            font-size: 14px;
            color: colors.$grey-text-dark;
         }
      }
}

@media only screen and (min-width: 1000px) {
   .stats {
		padding: 0 10%;
      &-container {
         display: flex;
         padding: 80px;
         justify-content: space-between;
         align-content: center;
         height: 348px;
         width: 100%;
         &__card {
            margin-top: auto;
            text-align: start;

            &--backers {
               margin-right: 110px;
            }
         }
      }
   }
}
