@use "../colors";
@use "../fonts";
@import "../buttons.scss";

.upper-section {
    &__content {
        padding: 75px 20px;
        background-color: colors.$grey-dark;
    }

    &__title {
        width: 15rem;
        font-family: fonts.$roboto;
        font-size: 13px;
        font-weight: 700;
        color: colors.$white;
        margin-top: 40px;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    &__description {
        font-family: fonts.$old;
        font-size: 2.8rem;
        color: colors.$white;
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 20rem;
    }
    &__button {
        display: block;
        margin-bottom: 20px;
        letter-spacing: 0.2rem;
        border: 2px solid rgba(colors.$white, 0.33);
        @include button(215px, colors.$grey-dark);
    }
    .button--gold {
        border: none;
        @include button(215px, colors.$gold-light);
    }
}

@media only screen and (min-width: 1000px) {
    .upper-section {
        &__content {
            padding: 180px 20%;
        }

        &__title {
            width: 20rem;
        }

        &__description {
            font-size: 56px;
            max-width: 25rem;
            margin-bottom: 35px;
        }
        &__button{
            display: inline;
            margin-right: 30px;
        }
    }
}
