//Black colors
$black-full: #000000;
$black: #222222;
$black-card-theme: #292929;
$black-text: #111111;

//Grey colors
$grey-text: #777777;
$grey-text-dark: #999999;
$grey-dark: #333333;
$grey-menu-dates: #686868;
$grey-border: #858585;
$grey-shadow: #8b8b8b;

//Clear colors
$white: #ffffff;
$grey-light: #F8F8F8;
$grey-discover: #F9F9F9;
$gold-light: #bead8e;
$gold-dark: #bdac8d;

//Others
$red-pale: #DE5777;
