//Black colors
$black-full: #000000;
$black: #222222;
$black-text: #111111;

//Grey colors
$grey-text: #777777;
$grey-dark: #333333;
$grey-menu-dates: #686868;
$grey-border: #858585;
$grey-shadow: #8b8b8b;

//Clear colors
$white: #ffffff;
$beige-light: #bead8e;
$beige-dark: #bdac8d;

//Others
$red-pale: #DE5777;
