@use './colors';
@use './fonts';


@use './blocks/footer';

//Blocks import
@use './blocks/header';

html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}