//Blocks import
@use './blocks/header';
@use './blocks/upper-section';
@use './blocks/availability';
@use './blocks/about';
@use './blocks/rooms';
@use './blocks/room-card';
@use './blocks/video-home';
@use './blocks/facilities';
@use './blocks/menu';
@use './blocks/footer';


html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}